 * {
   margin: 0px;
   padding: 0px;
   border: 0px;
 }

 body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: ghostwhite;
 }

 main {
   display: flex;
   overflow: hidden;
 }

 #sidebar {
   width: 20%;
   height: 100vh;
   position: fixed;
   border: 1px solid #888;
 }

 h1 {
   font-size: 24px;
   padding: 1.1em;
   border-bottom: 2px solid #e5e2e2;
 }

 .link {
   display: flex;
   font-weight: 500;
   font-size: 20px;
   text-decoration: none;
   color: black;
   padding: 0.8em;
   border-bottom: 2px solid #e5e2e2;
 }

 .link:hover {
   background-color: #eeeeee;
 }

 .canvas {
   width: 100vw;
   height: 100vh;
   margin-left: 360px;
 }

 .gred-1 {
   width: 100%;
   height: 100%;
 }

 