 * {
   margin: 0px;
   padding: 0px;
 }

 body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: ghostwhite;
 }


 #sidebar {
   width: 300px;
   height: 100vh;
   border: 1px solid #888
 }

 main {
   display: flex;
   width: 100vw;
   height: 100vh;
 }

 h1 {
   font-size: 24px;
   padding: 1.1em;
   border-bottom: 2px solid #e5e2e2;
 }

 .link:hover {
   background-color: #eeeeee;
 }

 .canvas {
   padding: 10px;
   width: 70%;
   height: 80%;
   margin: 40px;
 }

 .link {
   display: flex;
   font-weight: 500;
   font-size: 20px;
   text-decoration: none;
   color: black;
   padding: 0.8em;
   border-bottom: 2px solid #e5e2e2;
 }